/*!
* Markers On Map ('https://github.com/furcan/Markers-On-Map')
* Version: 1.0.0
* Author: Furkan MT ('https://github.com/furcan')
* Copyright 2019 Markers On Map, MIT Licence ('https://opensource.org/licenses/MIT')*
*/


/* Reset on */
*, 
*:focus {outline: none !important;}

*, *::before, *::after {box-sizing: border-box;}

body {
float: left;
width: 100%;
min-height: 100vh;
overflow-x: hidden !important;
font-size: 15px;
line-height:18px;	
font-weight: 400;
color:#fff;
background:#282828;
background: linear-gradient(to right bottom, #474747, #3f3f3f, #373737, #2f2f2f, #282828);}

body, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, strong, u, center, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, footer, header, menu, nav, button {
text-decoration: none !important;
margin: 0;
padding: 0;
border: 0;
font-family:"Muli", sans-serif;}

input, textarea, select, option {
font-family:"Muli", sans-serif;}

li {
list-style:none !important;}

a {
transition: all .2s ease-in-out;
cursor:pointer;}

h1 {
font-size: 24px;
line-height: 28px;}

h2 {
font-size: 20px;
line-height: 24px;}

h3 {
font-size: 18px;
line-height: 22px;}

h4, h5 {
font-size: 16px;
line-height: 20px;}

img {
font-size: 10px;
vertical-align: middle;
max-width:100%;
height:auto;}

*::selection {
background-color: #000000;
color: #fff;}

*::-moz-selection {
background-color: #000000;
color: #fff;}
	
::-webkit-scrollbar {
height: 4px;
width: 4px;}
::-webkit-scrollbar-track {
background:#1e1e1e;}
::-webkit-scrollbar-thumb {
background:#00e676;
cursor:pointer;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0;}

.cantselect {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}
/* Reset off */


/* Main wrapper on */
#Wrapper {
float: left;
width: 100%;}
/* Main wrapper off */


/* max content on */
.max-content {
display: table;
width: 100%;
max-width: 1360px;
margin: auto;
padding: 60px 50px;}
/* max content off */


/* Map Area on */
.map-wrapper {
float: left;
width: 100%;
color:#fff;
background: #502974;
background: linear-gradient(to right bottom, #502974, #432362, #371d50, #2b173f, #20112e);
position:relative;}

.map-wrapper div#GoogleMaps {
color:#20112e;
width:100%;
height:500px;
border-radius: 0 0 20% 20%;}

.map-wrapper .head {
text-align:center;
float: left;
width: 100%;
max-width: 360px;}

.map-wrapper .head h1.logo {
color:#fff;
font-size: 38px;
line-height: 38px;
font-weight:900;
margin: 0 0 25px;}

.map-wrapper .head h1.logo a {
color:inherit;}

.map-wrapper .head h1.logo a:hover {
color:#00e676;}

.map-wrapper .head h1.logo a i {
transform:scale(.9) translateY(2px);
color:#00e676;
min-width:30px;
margin-left:6px;}

.map-wrapper .head p.description {
color:#00e676;
font-size: 16px;
line-height: 20px;}

.map-wrapper .get-markersonmap {
float: right;
width: 100%;
max-width:360px;
text-align: center;
padding: 0 20px;}

.map-wrapper .get-it-on {
display: table;
margin: auto;
background: rgba(0, 0, 0, 0.15);
padding: 15px 50px 20px;
border-radius: 100px;}

.map-wrapper .get-it-on p {
font-size: 18px;
line-height: 22px;
font-weight: 900;
margin: 0 0 10px;}

.map-wrapper .get-it-on a {
font-size: 34px;
line-height: 34px;
display: inline-table;
margin: 0 10px;
color: #00e676;}

.map-wrapper .get-it-on a.npm {
transform: scale(1.8);
margin:0 20px;}
/* Map Area on */


/* Content on */
.container {
background: #474747;
float: left;
width: 100%;}

.container.advanced,
.container.remarker,
.container.basic {
background: linear-gradient(to right bottom, #474747, #3f3f3f, #373737, #2f2f2f, #282828);}

/* Container Head on */
.container .container-head {
float:left;
margin: 0 0 20px;
width:100%;}

.container .container-head h2 {
display: table;
margin:auto;
background: #00e676;
text-shadow:0 0 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.3);
padding: 20px;
border-radius: 100px;}

.container .container-head h2 i {
margin-right:10px;}
/* Container Head off */

/* Code on */
.container code {
text-align: left;
border-radius: 0 20px 20px 20px;
font-family: "Inconsolata", monospace;
position: relative;
width: 100%;
margin: 40px 0 20px;
font-size: 15px;
line-height: 18px;
letter-spacing: .2px;
word-break: break-all;
word-break: break-word;
display: inline-block;
color: #dcdcdc;
background: #1e1e1e;
padding: 14px;}
.container code:nth-last-of-type(1) {
margin-bottom:0;}

.container code span.label {
position: absolute;
left: 0;
top: -35px;
color: #fff;
background: #502974;
background: linear-gradient(to right bottom, #502974, #432362, #371d50, #2b173f, #20112e);
font-size: 15px;
line-height: 35px;
font-weight: 600;
min-width: 100px;
height: 35px;
text-align: center;
padding: 0 12px;
border-radius: 5px 5px 0 0;}

.container code > span {
transition:all .2s ease-in-out;}

.container code > span.l1 {
margin: 6px 0;
float: left;
width: 100%;}
.container code > span.l2 {
padding-left: 20px;}
.container code > span.l3 {
padding-left: 40px;}
.container code > span.l4 {
padding-left: 60px;}

.container code > span.rqrd:hover {
border-radius:20px;
cursor:help;
padding-top:8px;
padding-right:5px;
padding-bottom:8px;
border:1px dashed rgba(244, 67, 54, 0.6);}

.container code span.cmmnt {
font-size: 13px;
line-height: 18px;
margin-top: 6px;
margin-bottom: 2px;
color: #55a64a;}

.container code span.l1.cmmnt {
position:relative;
top:2px;}

.container code span.char {
color: #858585;}

.container code span.fnc1 {
color: #90d1ef;}

.container code span.fnc2 {
color: #e3e3b0;}

.container code span.int {
color: #b5cea4;}

.container code span.str {
color: #d69d85;}

.container code span.bool {
color: #569cd6;}

.container code span.the-button {
cursor: pointer;}
/* Code off */

/* Content off */



/* Footer on */
footer#Footer  {
padding:40px 20px;
color:#00e676;
background: #502974;
background: linear-gradient(to left top, #502974, #432362, #371d50, #2b173f, #20112e);
float: left;
width: 100%;}

footer#Footer p.copyright {
float: left;
font-size: 12px;
line-height: 15px;
font-weight: 600;}

footer#Footer a.github {
float: right;
font-size: 15px;
line-height: 15px;
color: #00e676;
font-weight: 600;}

footer#Footer a.github:hover {
color: #fff;}

footer#Footer a.github i {
margin-right:2px;}
/* Footer off*/


/* Responsive on */
@media only screen and (max-width: 900px) {

.max-content {
padding: 40px 20px;}

.map-wrapper div#GoogleMaps {
height: 340px !important;}

.map-wrapper .head {
float: unset;
display: table;
margin: 0 auto 30px;
padding: 0 0 30px;
border-bottom: 1px solid rgba(0, 0, 0, 0.3);}

.map-wrapper .head h1.logo {
font-size: 32px;
line-height: 34px;
margin: 0 0 15px;}
    
.map-wrapper .get-markersonmap {
float: unset;
display: table;
margin: auto;}

.map-wrapper .get-it-on {
padding: 15px 30px 20px;}


footer#Footer p.copyright {
width: 100%;
text-align: center;
margin: 0 0 40px;}

footer#Footer a.github {
display: table;
float: unset;
margin: 0 auto;}

}
/* Responsive off */
    

/* Tooltip on */
.tooltip {
font-family: 'Inconsolata' !important;
transition:opacity .3s ease-in-out;
position: absolute;
z-index: 800;
border:none !important;
display: block;
font-size: 15px;
line-height: 1.4;
opacity: 0;
filter: alpha(opacity=0);
visibility: visible;}

.tooltip.in {
opacity: 1;
filter: alpha(opacity=100);}

.tooltip.top {
padding: 5px 0;
margin-top: -3px;}

.tooltip.right {
padding: 0 5px;
margin-left: 3px;}

.tooltip.bottom {
padding: 5px 0;
margin-top: 3px;}

.tooltip.left {
padding: 0 5px;
margin-left: -3px;}

.tooltip-inner {
line-height:1.3;
max-width: 360px;
min-width: 80px;
padding: 12px 16px;
color: #fff;
text-align: center;
text-decoration: none;
background-color: #000000;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;}

.tooltip-arrow {
position: absolute;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;}

.tooltip.top .tooltip-arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-top-color: #000000;
border-width: 5px 5px 0;}

.tooltip.right .tooltip-arrow {
top: 50%;
left: 0;
margin-top: -5px;
border-right-color: #000000;
border-width: 5px 5px 5px 0;}

.tooltip.left .tooltip-arrow {
top: 50%;
right: 0;
margin-top: -5px;
border-left-color: #000000;
border-width: 5px 0 5px 5px;}

.tooltip.bottom .tooltip-arrow {
top: 0;
left: 50%;
margin-left: -5px;
border-bottom-color: #000000;
border-width: 0 5px 5px;}
/* Tooltip off */